<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    
    <bean id="hello" class="top.qaiu.spring.Hello"></bean>
    <bean id="Test" class="top.qaiu.spring.Test"></bean>
    <bean id="Demo" class="top.qaiu.spring.Demo">你好</bean>
</beans>